
body{
  background-color: #eee;
  background-image: url(https://img.maximummedia.ie/joe_ie/eyJkYXRhIjoie1widXJsXCI6XCJodHRwOlxcXC9cXFwvbWVkaWEtam9lLm1heGltdW1tZWRpYS5pZS5zMy5hbWF6b25hd3MuY29tXFxcL3dwLWNvbnRlbnRcXFwvdXBsb2Fkc1xcXC8yMDE3XFxcLzAyXFxcLzE5MTUzODMwXFxcL3N1bnNoaW5lMi5qcGdcIixcIndpZHRoXCI6NzY3LFwiaGVpZ2h0XCI6NDMxLFwiZGVmYXVsdFwiOlwiaHR0cHM6XFxcL1xcXC93d3cuam9lLmllXFxcL2Fzc2V0c1xcXC9pbWFnZXNcXFwvam9lXFxcL25vLWltYWdlLnBuZz92PTIyXCIsXCJvcHRpb25zXCI6W119IiwiaGFzaCI6IjFjMjhmZTk1ODlhNDg5ODlhODE3ZmRkZDc1OWU5N2EyNmUzOWUwNDIifQ==/sunshine2.jpg);
"
}

.container{
  width: 500px;
  height: 300px;
  margin:25vh auto;
  border-radius: 33px;
  box-shadow: 0 20px 40px 0px rgba(0,0,0,0.3)
  left: 30%;
  top: 30%;
}

.header {
  height: 30%;
  background-color: #FF0000;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  text-align: center;
  position:relative;
}

#temp, #humidity-div {
  font-family: "Lucida Console";
  font-weight: bold;
  font-size: 40px;
  color: #000000;
  position: absolute;
  left: 30%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.city-icon-holder {
  position:absolute;
  left: 25%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

#city-name {
  font-family: "Lucida Console";
  font-size: 30px;
  font-weight: bold;
  color: #000000
}

#icon {
  width:50%;
}

#main{
  width: 100%;
  height: 100%;
  position: relative;
}

.city-icon {
  height: 80%;
  width: 50%;
  border-bottom-left-radius: 25px;
  background-color: #00FF00;
}

.temperature {
  position: absolute;
  left: 50%;
  top:0%;
  height: 40%;
  width: 50%;
  background-color: #FFFF00;
}

.humidity {
  height: 40%;
  width: 50%;
  position:absolute;
  left:50%;
  top:40%;
  border-bottom-right-radius: 25px;
  background-color: #FFA500;
}


#search-btn {
  width: 40px;
  height:40px;
  color: #eee;
}

#search-txt {
  color: black;
  height:30px;
  border-radius: 10px;
  border-style:none;
  outline:white;
  padding-right:1px;
  padding-left:1px;
  text-align:center;
}

.search {
  position: absolute;
  left: 50%;
  top:50%;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
}
@import url(https://fonts.googleapis.com/css?family=Dosis:200,400,500,600);
.compass {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .85);
  position: relative;
  font-family: 'Dosis';
  color: #555;
  text-shadow: 1px 1px 1px white;
  &:before {
    font-weight: bold;
    position: absolute;
    text-align: center;
    width: 100%;
    content: "N";
    font-size: 14px;
    top: -2px;
  }
  .direction {
    height: 100%;
    width: 100%;
    display: block;
    background: #f2f6f5;
    background: -moz-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f6f5), color-stop(100%, #cbd5d6));
    background: -webkit-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -o-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    border-radius: 100%;
    p {
      text-align: center;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 80px;
      display: block;
      margin-top: -45px;
      font-size: 28px;
      font-weight: bold;
      span {
        display: block;
        line-height: normal;
        margin-top: -24px;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: normal;
      }
    }
  }
  .arrow {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 10px solid red;
      position: absolute;
      top: -6px;
      left: 50%;
      margin-left: -5px;
      z-index: 99;
    }
    &.nne { transform: rotate(22.5deg); }
    &.ne { transform: rotate(45deg); }
    &.ene { transform: rotate(67.5deg); }
    &.e { transform: rotate(90deg); }
    &.ese { transform: rotate(112.5deg); }
    &.se { transform: rotate(135deg); }
    &.sse { transform: rotate(157.5deg); }
    &.s { transform: rotate(180deg); }
    &.ssw { transform: rotate(202.5deg); }
    &.sw { transform: rotate(-135deg); }
    &.wsw { transform: rotate(-114.5deg); }
    &.w { transform: rotate(-90deg); }
    &.wnw { transform: rotate(-69.5deg); }
    &.nw { transform: rotate(-45deg); }
    &.nnw { transform: rotate(-24.5deg);}
  }
}
